body {
    background-color: #ECF0F1;
    
}
header {
    background-color: #535A6C;
    color: #FFF;
}

.section {
    background-color: white;
    border: 3px solid #d8e3e6;
    border-radius: 10px;
}

.name{
    color:#fff;
}